<template>
	<button v-bind:disabled="toggling_follow" v-on:click="toggleFollow()" v-bind:class="{'btn-sm':sm,'btn-xs':xs,'btn-lg':lg,'btn-block':block}" class="btn btn-info btn-follow">
        <span v-if="!toggling_follow">
            <i class="fa" v-bind:class="{'fa-user-plus':!following,'fa-check':following}"></i>&nbsp;
            <span v-if="!following">Seguir</span>
            <span v-if="following" class="hidden-xs">Seguindo</span>
            <span v-if="following" class="visible-xs">Deixar de seguir</span>
            <span v-if="following" class="show-on-hover hidden-xs">
                <i class="fa fa-user-times"></i>&nbsp;Deixar de seguir
            </span>
        </span>
        <span v-else>
            <img src="{{$root.url+'/img/loader-light.svg'}}" alt="" class="">
        </span>
    </button>
</template>

<script>
	export default {
		props: {
			uid:'',
			following:'',
			toggling_follow:'',
			sm:'',
			xs:'',
			lg:'',
			block:''
		},
		data() {
			return {

			};
		},
		created(){
			var th = this;
			$(function(){
				
			});
		},
		events:{
			'follow-toggled':'toggledFollow'
		},
		methods:{
			toggleFollow: function () {
				if (this.uid) {
					this.$set('toggling_follow', true);
					this.$dispatch('toggle-follow', this.uid);
				}
		    },
		    toggledFollow: function(data) {
		    	this.$set('toggling_follow', false);
		    	if(data.uid == this.uid){
		    		this.$set('following', data.resp.following);
		    	}
		    }
		}
	}
</script>