<template>
<div class="user-img-wrapper">
    <div v-show="!croppingUserImage">
        <img :src="(image) ? image : $parent.user.image_path" class="img-responsive" alt="">
        <label v-if="$parent.user.is_me" for="imageInput" class="btn btn-sm btn-change-image btn-info">
            <i class="glyphicon glyphicon-pencil"></i>
            <input name="image" @change="onFileChange" type="file" name="" id="imageInput">
        </label>
    </div>
</div>
<div v-show="croppingUserImage" class="cropping-user-image">
   <div id="user-image-cropper">
        <img id="user-image-to-crop" src="">
   </div>
   <div class="cropping-buttons">
       <div class="buttons">
           <div class="btn-group btn-group-justified">
               <div class="btn-group">
                   <button v-on:click="croppingUserImage = false, savingCroppedImage = false" class="btn btn-lg btn-default">
                        <i class="glyphicon glyphicon-remove"></i> Cancelar
                    </button>
               </div>
               <div class="btn-group">
                   <button :disabled="savingCroppedImage" v-on:click="saveCroppedImage()" class="btn btn-lg btn-success">
                       	<span v-if="!savingCroppedImage">
                       		<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
                       	</span>
                       	<img style="margin: 0 auto;" v-if="savingCroppedImage" src="{{$root.url+'/img/loader-light.svg'}}" alt="Salvando" class="img-responsive">
                   </button>
               </div>
           </div>
       </div>
   </div>
</div>
</template>
<script>
	export default {
		props: {
		},
		data() {
			return {
				showTagsInput:false,
				image:'',
				croppingUserImage:false,
				imageToCrop:'',
				imageElement:{}
			};
		},
		created(){
			var th = this;
			$(function(){
				th.$set('imageElement', $('#user-image-cropper img'));
		        th.imageElement.cropper({
		        	background:false,
		        	guides: false,
		        	viewMode: 1,
        			dragMode: 'move',
        			wheelZoomRatio:0.05,
        			//autoCropArea: 1,
			        restore: false,
			        highlight: false,
			        cropBoxMovable: false,
			        cropBoxResizable: false,
		          	dashed: false,
		          	background:false,
		          	resizable: true,
		          	aspectRatio:1,
		          	responsive: true,
		          	minContainerWidth:300,
		          	minContainerHeight:300,
		          	minHeight:300,
		          	minWidth:300,
		          	minCropBoxWidth:300,
		          	maxCropBoxWidth:300,
		          	maxCropBoxHeight:300,
		     //      	data: {
					  //   x: 0,
					  //   y: 0,
					  //   width: 300,
					  //   height: 300
				  	// },
		          // built: function () {
		          //   $image.cropper('setCanvasData', canvasData);
		          //   $image.cropper('setCropBoxData', cropBoxData);
		          // }
		        });
			})
		},
		methods:{
			saveCroppedImage(){
				this.$set('savingCroppedImage', true);
				var croppedImageDataURL = this.imageElement.cropper('getCroppedCanvas').toDataURL(); 
				this.$set('image',croppedImageDataURL);
				this.$http.post(this.$root.url+'/user/setInfo',{
					name:'image',
					value:croppedImageDataURL
				}).then((res) => {
					this.$set('croppingUserImage', false);
				}, (err) => {
					console.log(err);
				}).finally( () => {
					this.$set('savingCroppedImage', false);
				});
			},
			onFileChange(e) {
				this.imageElement.cropper('reset');
		      	var files = e.target.files || e.dataTransfer.files;
		      	console.log(files);
		      	if (!files.length){
		        	return;
		      	}
		      	this.createImage(files[0]);
		    },
		    createImage(file) {
		      	var image = new Image();
		      	var reader = new FileReader();
		      	var vm = this;
		      	this.$set('croppingUserImage', true);

		      	reader.onload = (e) => {
		        	//vm.image = e.target.result;
		        	this.cropper(e.target.result);
		      	};
		      	reader.readAsDataURL(file);
		    },
		    cropper(image){
		    	this.imageElement.cropper('replace',image);
		    },
		    removeImage(e) {
		      this.image = '';
		    }
		}
	}
</script>