body.user{
	background: #F5F8F9;

	@import "node_modules/cropper/src/scss/cropper";
	.btn-lg{
		font-size: 14px;
		padding: 12px 15px;

		img{
			height: 16px;
		}
	}
	.cropping-user-image{
		position:fixed;
		top: 0;
		left:0;
		bottom:0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		z-index: 1100;
		.cropping-buttons{
			.buttons{
				position:absolute;
				top:15px;
				width: 300px;
				left:50%;
				margin-left: -150px;
			}
		}
		#user-image-cropper{
			position:absolute;
			left: 50%;
			margin-left: -300px;
			top: 50%;
			margin-top: -300px;
			height: 600px;
			width: 600px;
			overflow: hidden;
			.cropit-preview{
				width: 300px;
				height: 300px;
			}
		}
	}

	.profileview-item{
		margin-bottom: 5px;
		a{
			display: block;
			.image-wrapper{
				float: left;
				width: 35px;
				height: 35px;
				margin-right: 6px;
			}
			.user-info{
				height: 35px;
				line-height: 35px;
				white-space: nowrap;
				overflow:hidden;
				text-overflow: ellipsis;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	// .user-header{
	// 	position: relative;
	// 	padding: 0;
	// 	box-shadow: 0 0 15px rgba(0,0,0,0.4);

	// 	.user-header-dark{
	// 		background: $brand-primary;
	// 		position: fixed;
	// 		z-index: 10;
	// 		left:0;
	// 		right: 0;
	// 		top:50px;
	// 	}

	// 	.user-menu{
	// 		nav.navbar{
	// 			border:0;
	// 			background: transparent;
	// 			margin: 0;
				
	// 			.navbar-collapse{
	// 				padding: 0;

	// 				.nav{
	// 					li{
	// 						a{
	// 							@extend %navlink;
	// 							padding: 15px 12px;

	// 							&:active,
	// 							&:hover,
	// 							&:focus{
	// 								@extend %navlink-hover;
	// 							}
	// 						}
	// 						&.active{
	// 							a{
	// 								@extend %navlink-hover;
	// 							}
	// 						}
	// 					}
	// 				}

	// 				.user-topbar-buttons{
	// 					padding: 10px 0;
	// 					margin: 0;
	// 					list-style: none;

	// 					li{
	// 						.btn{
	// 							border-color: transparent;
	// 						}

	// 						&+li{
	// 							.btn{
	// 								margin-left: 10px;
	// 							}
	// 						}
	// 					}
	// 				}

	// 				.social-menu{
	// 					li{
	// 						display: inline-block;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.user-content{

		.user-header{
			hr{
				margin: 10px 0;
			}
			
			.name-wrapper{
				margin-top: 0;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.detail-item{
				color:#444;
				font-size: 13px;
				position:relative;
				margin-bottom: 7px;
				>i{
					position: absolute;
					top: 3px;
					left: 0;
					color:#aaa;
				}
				.detail-container{
					padding-left: 20px;
				}
			}

			div{
				.user-tab-menu{
					.btn{
						text-transform: uppercase;
						border-bottom: 3px solid transparent;
						color:$brand-primary;
						font-size: 12px;
						font-weight: bold;
						padding: 10px 15px;
						margin-right:2px;
						background:lighten($brand-primary, 70%);
						span{
							color:saturate(lighten($brand-primary, 25%), 20%);
							font-weight: bold;
						}
						&:hover,
						&:active,
						&:focus{
							outline: none;
							text-decoration: none;
							border-bottom: 3px solid saturate(lighten($brand-primary, 45%), 20%);
						}

						&.selected{
							border-bottom: 3px solid saturate(lighten($brand-primary, 25%), 20%);
						}
					}
				}
			}
		}

		.user-video-input{
			border: 1px dashed #aaa;
			padding: 4px;
			vertical-align: middle;
			word-break:break-word;

			.fa-youtube-play{
				font-size: 22px;
				vertical-align: top;
				color:#aaa;
				margin-right: 8px;
				margin-left: 6px;
			}
		}

		.social-links{
			margin-top: -10px;
			margin-bottom: 20px;
			.personal-website{
				position:relative;
				a,
				.editable{
					color:darken($brand-info, 25%);
					text-transform: lowercase;
					font-size: 20px;
				}
				>i{
					color:darken($brand-info, 25%);
					font-size: 18px;
					margin-right: 5px;
				}
			}

			.social-menu{
				li{
					display: inline-block;
					margin-left: 5px;
					position:relative;
					a{
						font-size: 16px;
						min-width: 30px;
						@extend %navlink;
					}
					.editable{
						position:absolute;
						top:0;
						left:0;
						height: 100%;
						width: 100%;
						display: none;
						border: 1px dashed #fff;
						border-radius:3px;
						overflow: hidden;
						color:transparent;
						cursor:editable;
					}

					&:hover{
						.editable{
							display: block;
						}	
					}
				}
			}
		}

		.resume-group{
			margin-bottom: 30px;
			padding-bottom: 10px;
		}

		.resume-item{
			margin-bottom: 20px;

				.resume-item-edit{
					display: none;
				}

			.title{
				margin-bottom: 4px;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 15px;
				color:darken($brand-info,20%);
				font-weight: 600;
			}

			.start-end{
				color: #aaa;
				font-size: 12px;
				margin-bottom: 5px;
			}

			.company-name{
				margin-bottom: 5px;
			}

			.description{
				font-size: 12px;
				color:#888;
			}

			&.portfolio{
				border:1px solid #eee !important;
				padding:10px !important;
				box-shadow:1px 1px 2px rgba(0,0,0,0.05);
				position:relative;
				.img-wrapper{
					padding-bottom: 100% !important;

					img{
						float: left;
					}
				}
				.portfolio-info{
					display: flex;
					flex-direction: column;
					justify-content: center;
					position:absolute;
					text-align: center;
					top: 20px;
					left: 20px;
					right: 20px;
					bottom:20px;
					background:rgba(255,255,255,0.8);
					opacity:0;
					-webkit-transition: all 0.3s; /* Safari */
    				transition: all 0.3s;

    				a{
    					position:absolute;
    					top:0;
    					left:0;
    					right: 0;
    					bottom:0;
    					z-index: 100;
    				}

    				.fa-search,.fa-plus{
    					font-size: 40px;
    					margin-bottom: 20px;
    					color: lighten($brand-primary, 30%);
    				}

					.title{
						color:$brand-primary;
						font-weight: normal;
						font-size: 12px;

					}

					&:hover{
						opacity:1;

						-webkit-transition: all 0.3s; /* Safari */
    					transition: all 0.3s;
					}
				}

				&.edit{
					background:#f0f0f0;

					.portfolio-img-input-wrapper{
						display: flex;
						flex-direction: column;
						justify-content: center;
						position:absolute;
						top:0;
						left:0;
						right: 0;
						bottom:0;
						text-align: center;
						label{
							position:absolute;
							cursor: pointer;
							top:0;
							right: 0;
							left:0;
							bottom:0;
							overflow: hidden;
							#portfolio-img-input{
								opacity:0;
							}
						}
						.fa{
							font-size: 60px;
							color:#ddd;
						}
						&:hover{
							background: rgba(0,0,0,0.03);
						}
					}
				}
			}

			&:hover{
				.resume-item-options{
					button{
						border-color: #aaa;
						color:#aaa;

						-webkit-transition: all 200ms; /* Safari */
    					transition: all 200ms;
					}
				}
			}
		}

		.user-img-wrapper{
			position:relative;
			height: 0;
			padding-bottom:100%;

			img{
				width: 100%;
			}

			.btn-change-image{
				position: absolute;
				bottom: 15px;
				right: 15px;
				overflow: hidden;

				input{
					opacity:0;
					width: 40px;
					height: 36px;
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
				}
			}
		}
		&.me{
			.resume-item{
				border: 1px dashed #bbb;
				padding: 4px;
				position: relative;

				.btn-add-resume-item{
					background: $brand-success;
					color:#fff;
				}

				.resume-item-edit{
					position: absolute;
					left: -15px;
					top:-15px;
					display: block;

					button, a{
						line-height: 11px;
						width: 24px;
						height: 24px;
						padding: 0;
						border-radius:50%;
						color:#fff;
						border-color: $brand-success;
						background:$brand-success;

						-webkit-transition: all 200ms; /* Safari */
						transition: all 200ms;

						i{
							font-size: 11px;
						}

						&:hover,
						&:focus,
						&:active{
							background: $brand-danger;
							color:#fff !important;
							border:0;
							outline: none;

							-webkit-transition: all 200ms; /* Safari */
	    					transition: all 200ms;
						}
					}

					&.open{
						button{
							background: darken($brand-danger,10%);
							color:darken($brand-danger,10%);
						}
					}
				}
			}
		}
	}
}

@media(max-width: $screen-xs-max){
	.user{
	}
}