$leftbar-width: 250px;
$chat-width: 740px;
.chat{
	.chat-overlay{
		z-index: 1010;
		background-color: rgba(0,0,0,.8);
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	.chat-inner{
		position:fixed;
		top: 40px;
		bottom:40px;
		left:50%;
		margin-left: ($chat-width/2)*-1;
		width: $chat-width;
		background-color:#FFF;
		z-index: 1020;
		border-radius:3px;
		border-top-left-radius: 5px;

		.chats-list-wrapper{
			width: $leftbar-width;
			background-color:$brand-primary;
			height: 100%;
			position:relative;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 3px;

			.chat-search{
				padding: 8px 8px 0 8px;
				height: 50px;
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				z-index: 900;
				input{
					border:0;
					padding:10px;
					border-radius: 2px;
					background-color: desaturate(lighten($brand-primary, 8%),12%);
					color:#fff;
				}
			}
			.chats-list-holder{
				padding-top: 50px;
				position:absolute;
				left:0;
				top:0;
				height: 100%;
				width: 100%;
				.chat-list-container{
					//overflow-y: scroll;
					overflow-y: hidden;
					top:50px;
					bottom:0;
					left:0;
					width: 100%;
					position:absolute;
					.chat-list{
						list-style: none;
						padding:0;
						li.chat-item{
							position:relative;
							height: 52px;
							overflow: hidden;
							a{
								position: absolute;
								top:0;
								left:0;
								height: 100%;
								width: 100%;

								&:focus{
									outline: none;
									&+img{
										&+.chat-item-info{
											background-color: darken($brand-primary, 5%);
										}
									}
								}
							}
							>img{
								position:absolute;
								left:8px;
								top:6px;
								right:0;
								width: 40px;
								height: 40px;
							}
		                    .chat-item-info{
		                    	padding:6px;
		                    	display: flex;
  								justify-content: center;
  								flex-direction: column;
		                    	color:#fff;
		                    	padding-left: 56px;
		                    	height: 100%;
		                        .name{
		                        	font-size: 12px;
		                        	line-height: 22px;
		                        	padding:0;
		                        	margin:0;
		                        	font-weight: bold;

		                        	.badge{
										background:$brand-danger;
										position:absolute;
										top:18px;
										right:12px;
									}
		                        }
		                    }

		                    &:hover,
		                    &.active{
		                    	background: darken($brand-primary, 5%);
		                    }
						}
					}
				}
			}
		}
		.chat-content{
			position:absolute;
			top:0;
			height: 100%;
			width: $chat-width - $leftbar-width;
			left: $leftbar-width;

			.loadingMessagesOverlay{
				position: absolute;
				top:0;
				left:0;
				z-index: 1800;
				width: 100%;
				height: 100%;
				background-color:rgba(255,255,255,0.6);
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

			.user-info{
				z-index: 100;
				height: 50px;
				background-color: lighten($brand-primary, 68%);
				padding:8px;
				border-bottom: 2px solid rgba(255,255,255,0.5);
				border-top-right-radius:4px;
				position:relative;
				img{
					width: 34px;
					height: 34px;
					position: absolute;
				}
				.user-details{
					display: flex;
					justify-content: center;
  					flex-direction: column;
					height: 100%;
					padding-left: 44px;
					.name{
						font-weight:bold;
					}
				}
			}
			.messages-list-wrapper{
				width: $chat-width - $leftbar-width;
				position:absolute;
				top:50px;
				bottom:0;
				background-color:lighten($brand-primary, 68%);
				border-bottom-right-radius:5px;
				.messages-list{
					opacity:0;
					position:absolute;
					top:0px;
					width: 100% !important;
					padding:10px 10px 15px;
					padding-bottom:0;
					font-size: 13px;
					bottom:120px;
					overflow-y: scroll;

					.messages-list-inner{
						position:absolute;
						bottom:0;
						left:10px;
						right:10px;
						max-height: 100%;

						.message-item{
							display: block;
							clear: both;
							width: 100%;
							float: left;
							.message-info{
								margin-bottom: 10px;
								.name{

								}
								.time{
									color:#ccc;
								}
							}
							.message-content{
								background-color:$brand-success;
								border-radius:18px;
								padding:9px;
								line-height: 20px;
								color:#fff;
								float: left;
								margin-bottom: 10px;
								position:relative;
								clear: both;
								max-width: 92%;

								&.partner{
									&+.partner{
										&:before{
											display: none;
										}
									}
								}
							}

							&.nextissame{
								.message-content{
									border-bottom-left-radius:4px;

									margin-bottom: 1px;
								}
							}

							&.samesender{
								.message-content{
									//border-top-right-radius:6px;
									border-top-left-radius:4px;
								}
							}

							&.me{
								.message-info{
									text-align: right;
									.name{
										float: right;
										margin-left: 6px;	
									}
									.time{
										color:#ccc;
									}
								}
								.message-content{
									background-color:darken($brand-info, 7%);
									float: right;

									border-radius: 20px;
								}

								&.nextissame{
									.message-content{
										border-bottom-right-radius:4px;
									}
								}

								&.samesender{
									.message-content{
										border-top-right-radius:4px;
									}
								}
							}

							&.typing{
								.message-content{
									background:transparent;
									padding:0;
								}
							}
						}
					}
				}
			}

			.compose-message-wrapper{
				background-color:lighten($brand-primary, 64%);
				padding:10px;
				position:absolute;
				//height: 120px;
				bottom:0;
				width: 100%;
				border-top:1px solid lighten($brand-primary, 60%);
				border-bottom-right-radius:4px;

				.compose-message{
					.textarea-wrapper{
						textarea{
							//border:1px solid rgba(0,0,0,0.2);
							border:0;
							padding:10px;
							resize: none;
						}
					}

					.compose-options{
						margin-top: 4px;

						.btn{
							background: transparent !important;	
						}
					}

					.btn{
						border:0;
						padding:0;
						color:#aaa;
						font-size: 16px;
						margin-right: 6px;

						&:hover,
						&:active,
						&:focus{
							outline:none;
							color:lighten($brand-primary,15%);
						}

						&.pull-right{
							font-weight: bold;
							font-size: 14px;
							color:lighten($brand-primary,50%);

							&:hover{
								text-decoration: none;
								color:lighten($brand-primary,40%);

							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: $screen-xs-max){
	.chat{
		.chat-inner{
			top: 0px;
			bottom:0px;
			left:0;
			margin-left: 0;
			width: 100%;
			background-color:#FFF;
			z-index: 1020;
			border-radius:0px;
			border-top-left-radius: 0;

			.chats-list-wrapper{
				width: 100%;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				.chat-search{
					padding-right: 50px;
					background-color:darken($brand-primary, 3%);
					position:relative;

					input{
						padding:15px;
						height: 34px;
					}
					a.closeChat{
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						font-size: 26px;
						width: 50px;
						color:rgba(255,255,255,0.3);
						padding: 7px 9px;
						text-align: center;
					}
				}
				.chats-list-holder{
					.chat-list-container{
						top:50px;
						.chat-list{ }
					}
				}
			}
			.chat-content{
				position:absolute;
				top:0;
				height: 100%;
				width: 100%;
				left: 0;
				z-index: 1010;
				background-color:$brand-primary;
				.user-info{
					padding-left: 50px;
					background-color:darken($brand-primary, 3%);
					border-bottom: 2px solid darken($brand-primary, 3%);
					border-top-right-radius:0;
					.user-details{
						.name{
							color:#fff;
						}
					}

					.window-close{
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						font-size: 26px;
						color:rgba(255,255,255,0.3);
						padding: 7px 11px;
						cursor: pointer;

						&:hover,
						&:focus,
						&:active{
							color:rgba(255,255,255,0.6);
						}
					}
				}
				.messages-list-wrapper{
					width: 100%;
					background-color:$brand-primary;
					border-bottom-right-radius:0;
					.messages-list{
						font-size: 15px;
						.message-item{
							.message-info{
								.name{ }
								.time{ }
							}
							.message-content{
								background-color:lighten($brand-success, 3%);
							}
						}
					}
				}
				.compose-message-wrapper{
					background-color:darken($brand-primary, 3%);
					border-top:1px solid darken($brand-primary, 3%);
					border-bottom-right-radius:0px;
					padding:5px;

					.compose-message{
						.textarea-wrapper{
							padding-right:50px;
							position:relative;
							textarea{
								background:lighten($brand-primary, 6%);
								color:#fff;
								font-size: 15px;
							}
							.btn-send-message{
								width: 50px;
								position: absolute;
								height: 100%;
								right: 0;
								top:0;
								border:0;
								color:rgba(255,255,255,0.6);
								margin-right: 0;
							}
						}

						.compose-options{
							.btn{
								color:#aaa;
								font-size: 18px;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}