body{
	margin-top: 50px;

	&.showchat{
		overflow-y: hidden;
	}
}

.system-title{
	border-bottom: 3px solid #eee;
	padding-bottom:15px;
	position:relative;
	margin-bottom: 20px;
	color:$brand-primary;
	font-weight: bold;

	.system-title-icon{
		font-size: 24px;
		color: desaturate(lighten($brand-primary, 55%), 40%);
		margin-right:15px;
	}

	&:after{
		content:"";
		position:absolute;
		bottom: -3px;
		left:0;
		width: 40%;
		background:saturate(lighten($brand-primary, 25%), 20%);
		height: 3px;
	}

	&.subtitle{
		border-bottom: 2px solid #eee;

		&:after{
			bottom: -3px;
			background:#ccc;
			height: 3px;
		}
	}
}

.vue-slider-wrap{
	.vue-slider{
		.vue-slider-dot{
			box-shadow:none;
			border:2px solid $brand-primary;
			background:$brand-primary;

			&:after{
				background:$brand-primary !important;
				padding:6px 10px;
			}
			&:before{
				border-top-color:$brand-primary !important;
			}
		}
		.vue-slider-process{
			background: $brand-success;
		}
	}
}

h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}

.loading-div{
	text-align: center;
	img{
		margin:30px auto;
	}
}

.bg-red{
	background: $brand-danger;
}
.bg-blue{
	background: $brand-info;
}

.p15{
	padding: 15px;
}
.p10{
	padding: 10px;
}

.mb15{
	margin-bottom:15px;
}
.mb20{
	margin-bottom:20px;
}
.mb30{
	margin-bottom:30px;
}

.hr-bg-blue{
	border-color: lighten($brand-primary,7%) !important;
}

.text-upper{
	text-transform: uppercase;
}

.text-white{
	color:#fff;
}

.text-thin{
	font-weight: 300;
}

.navbar-toggle{
	background: transparent;
	border:0;
	.icon-bar{
		height: 3px;
		width:28px;
		margin-bottom: 5px;
	}
	&:active,
	&:focus,
	&:hover{
		background: transparent;
		border: 0;
		.icon-bar{
			background: $brand-primary;
		}
	}
}

.banner{
	text-transform: uppercase;
	text-align: center;
	background-image:url('../../img/bg-header.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	//background-attachment: fixed;
	padding: 240px 0;

	-webkit-transition: all 100ms; /* Safari */
    transition: all 100ms;

	.banner-frase{
		font-size: 44px;
		font-weight: bold;
		margin-bottom: 120px;
		color:#fff;
		text-shadow:2px 2px 5px rgba(0,0,0,0.2);
	}

	.banner-btns{
		.btn{
			border:0;
			padding: 14px 15px;
		}
	}
}

.btn-follow{
	position:relative;
	.show-on-hover{
		display: none;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		background:$brand-info;
	}

	&:hover{
		.show-on-hover{
			display: flex;
			display: -webkit-inline-box;
		}
	}
}

.counters{
	padding: 120px 0;

	.join{
		margin: 80px 0 0;
	}
}

.pricings{
	background-color: $brand-primary;
	background-image: url('../../img/bg-pricing.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size:cover;

	padding-top: 60px;

	.tab-content{
		.tab-pane{
			color:#fff;
			margin-top: 40px;
		}
	}
}

.slideOnOff {
	width:120px;
	height: 34px;
	position: relative;
	border: 0px solid #ccc;
	border-radius: $border-radius-base;
	box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
	label {
		display: block;
	    width: 100%;
	    height: 35px;
	    left:-1px;
	    top: -1px;
	    cursor: pointer;
	    position: absolute;
	    border-radius: $border-radius-base;
	    z-index: 100;
	    transition: all 0.4s ease;
	    line-height: 34px;
	    text-align: center;
	}
	span{
		width: 60px;
		height: 34px;
	    float: left;
	    border-radius:$border-radius-base;
	    display: block;
		line-height: 32px;
	    text-align:center;
		z-index: 1;
		transition: all 0.3s ease;
		&.off{
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
		    background: $brand-danger;
		    color:rgba(255,255,255,1);
	   	}
		&.on{
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		    background: lighten(desaturate($brand-success, 60%), 30%);
		    color:rgba(255,255,255,0.7);
		}
	}
	input[type=checkbox] {
	    visibility: hidden;
	    position:absolute;
	    &:checked{
	    	&+.off{
				background: lighten(desaturate($brand-danger, 40%), 20%) !important;
				box-shadow:none;
				color:rgba(255,255,255,1);
				background: lighten(desaturate($brand-danger, 40%), 30%);

				&+.on{
					background: $brand-success !important;
					color:rgba(255,255,255,1);
					box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);	
				}
			}
	    }
	}
	&.small{
		height: 30px;
		label {
			height: 30px;
		    line-height: 30px;
		}
		span{
			height: 30px;
		    line-height: 30px;
		}
	}
}
/* end .slideOnOf */

footer{
	padding: 15px 0;
	background: $brand-primary;
	color:rgba(255,255,255,0.7);

	.nav{
		li{
			a{
				padding: 0 10px;
				color:rgba(255,255,255,0.7);
				background: transparent;

				&:hover{
					background: transparent;
					color:rgba(255,255,255,0.9);
				}
			}
		}
	}
}

@media(max-width: $screen-xs-max){
	body{
		margin-top: 90px;
	}
}