@import "__resume";

[v-cloak]{
	display:none !important;
}

.main-messages-container{
	background:#eee;
	.main-messages-container-item{
		padding:15px;
		display: block;
		.alert{
			margin: 0;

			&+.alert{
				margin-top: 15px;
			}
		}
	}
}

.sidebar-info-group{
	margin-bottom: 30px;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
}

.navbar-static-top{
	.prof-image{
		width: 40px;
		height: 40px;
		margin: -10px 0 -10px 10px;
		padding: 0;
		float: right;
	}
	.prof-name{

	}
}


$frame-padding: 30px;
.frame{
	background: #fff;
	padding: $frame-padding;
	display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: $border-radius-base;

    @include box-shadow(1px 1px 5px rgba(0,0,0,0.1));

    &.np{
    	padding: 0;
    }

    &.half{
    	padding: $frame-padding/2;
    }

    &.frame-primary{
    	background:$brand-primary;
    	color:#fff;
    }
}

.sidebar-item{
	padding: 5px 0;
	clear: both;
	display: inline-block;
	width: 100%;
	border-bottom:1px solid rgba(255,255,255,0.1);
}

#user-image-cropper{
	width: 100%;
	height: 400px;

	.cropit-preview-container{
		overflow: hidden;
		background: rgba(255,255,255,0.6);
		.cropit-preview{
			width: 300px;
			height: 300px;
			margin: 0 auto;
		}
	}

	.crop-range-container{
		padding: 15px 0 5px;
		width: 70%;
		margin: 0 auto;
		text-align: center;

		i.fa{
			font-size: 22px;
			float: right;
			width: 15%;
			&.small{
				float: left;
				text-align: right;
				padding-right: 6px;
				margin-top: 4px;
				font-size: 12px;
			}
		}

		.cropit-image-zoom-input{
			float: left;
			width: 70%;
		}
	}

	/* Translucent background image */
	.cropit-preview-background {
	  opacity: .2;
	}

	/*
	 * If the slider or anything else is covered by the background image,
	 * use relative or absolute position on it
	 */
	input.cropit-image-zoom-input {
	  position: relative;
	}

	/* Show load indicator when image is being loaded */
	.cropit-preview.cropit-image-loading .spinner {
	  opacity: 1;
	}

	/* Show move cursor when image has been loaded */
	.cropit-preview.cropit-image-loaded .cropit-preview-image-container {
	  cursor: move;
	}

	/* Gray out zoom slider when the image cannot be zoomed */
	.cropit-image-zoom-input[disabled] {
	  opacity: .2;
	}

	/* Hide default file input button if you want to use a custom button */
	input.cropit-image-input {
	  visibility: hidden;
	}

	/* The following styles are only relevant to when background image is enabled */

	/* Translucent background image */
	.cropit-preview-background {
	  opacity: .2;
	}

	/*
	 * If the slider or anything else is covered by the background image,
	 * use non-static position on it
	 */
	input.cropit-image-zoom-input {
	  position: relative;
	}

	.rotation-btns{
		padding-top: 10px;
	}
}