.topbar{
	position: fixed;
	z-index: 999;
	top:0;
	right: 0;
	left:0;
	background: #fff;
	text-transform: uppercase;
	box-shadow:0 1px rgba(0,0,0,0.1);

	.navbar{
		background: transparent;
		border: 0;
		margin: 0;

		.navbar-header{
			.navbar-brand{
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.navbar-toggle{
				margin-bottom: 0;
				&:hover,
				&:focus,
				&:active{
					background:transparent;
				}
			}
		}


		.notif-counter{
			background:#f34e74;
			color:#fff;
			font-size: 10px;
			position: absolute;
			top:5px;
			border-radius: 2px;
			font-weight: 600;
			left:26px;
			text-align: right;
			padding:0 4px;
			line-height: 15px;
		}
		.notif-friend-typing{
			position: absolute;
			bottom: 5px;
			left: 21px;
			img{
				width: 12px;
			}
		}

		.navbar-nav{ 
			>li{
				.search-wrapper{
					padding-top: 8px;
					position: relative;
					margin-right: 10px;
					margin-left: 10px;
					display: inline-block;

					input{
						border-radius: 17px;
						background: desaturate(lighten($brand-primary, 69%), 20%);
						border-color: #e3e3e3;
						box-shadow: none;
						min-width: 260px;
						padding-left: 30px;

						&:hover,
						&:focus{
							border-color: #ccc;
						}
					}

					.tt-menu{
						padding-top: 0;
						.tt-dataset{
							.tt-dataset-title{
								font-size: 11px;
								margin: 0;
								padding: 5px 10px;
								font-weight: bold;
								text-transform: uppercase;
								background: darken($brand-primary,3%);
								color:#fff;
							}
							.tt-suggestion{
								display: flex;
								padding: 3px;

								>a{
									width: 100%;

									&:hover,
									&:focus{
										text-decoration: none;
									}
								}
								.img-wrapper{
									float: left;
									margin-right: 10px;
									img{
										max-width: 36px;
										max-height: 36px;
									}
								}
								.item-infos{
									.item-title{

									}

									.item-info{
										font-size: 11px;
									}
								}
							}

							&:first-child{
								.tt-dataset-title{
									border-top-left-radius: $border-radius-base;
									border-top-right-radius: $border-radius-base;
								}
							}
						}
					}

					&:before{
						content: "\f002";
						position: absolute;
						top:18px;
						left: 13px;
						font-size: 16px;
						color:lighten($brand-primary,10%);
						font: normal normal normal 14px/1 FontAwesome;
						z-index: 2;
					}
				}
				>a{
					color:darken($brand-primary,10%);
					padding: 13px 12px;
					font-size: 12px;
					font-weight: 500;
					display: inline-block;
					background:transparent;

					&:hover,
					&:active,
					&:focus{
						color:$brand-primary;
					}
				}
				&.login-register-links{
					a{
						color:#555;
						&:hover{
							color:darken($brand-primary,10%);
						}
					}
				}

				.btn{
					&.btn-primary{
						background: $brand-primary;
						color:#fff;
						padding: 6px;
						margin-top: 8px;

						&:hover{
							background-color: lighten($brand-primary, 5%);
						}
					}
				}

				.dropdown-menu{
					min-width: 360px;
					font-size: 12px;
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.085) !important;

					.menu-item{
						a{
							padding: 10px;
							display: block;
							text-decoration: none;

							&:hover{
								background-color:#eee;
							}
						}
					}
				}
			}

			&.nav-notif{
				>li.dropdown{
					>a{
						font-size: 20px;
						color:#bbb;
						position: relative;

						.notif-friend-typing{
							bottom: 10px;
							left: 20px;
						}

						&:hover,
						&:active,
						&:focus{
							color: $brand-primary;
							background:transparent;
						}
					}

					.dropdown-menu-arrow{
						position: absolute;
						top:100%;
						left: 10px;
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-bottom-color: darken($brand-primary, 4%);
						margin-top: -7px;
						z-index: 1001;
						display: none;
					}

					$drop-width: 360px;
					$li-padding:5px;
					$notif-img-width: 50px;

					.dropdown-menu{
						width:$drop-width;
						margin-top: 10px;
						left: -$drop-width/2+20;
						overflow: hidden;
						padding-top:0;

						li{
							position: relative;
							padding: $li-padding;
							.notif-img-wrapper{
								width: $notif-img-width;
								height: $notif-img-width;
								float: left;
							}
							.notif-content{
								display: inline-block;
								float: left;
								padding: 0 6px;
								width: $drop-width - $notif-img-width - ($li-padding * 2) - 2;
								word-break:break-word;
								line-height: 14px;

								.notif-title{
									font-size: 12px;
									text-transform: none;
								}
							}
							a{
								position: absolute;
								top:0;
								bottom:0;
								left: 0;
								right: 0;
								z-index: 10;
								background: transparent;
							}

							&.not-seen,
							&:hover{
								background: #eee;
							}
							&.dropdown-header{
								font-size: 11px;
								padding:8px 15px;
								border-bottom:1px #ddd solid;
								color:#fff;
								background:darken($brand-primary, 4%);
								font-weight: 600;

								&:hover{
									
								}
							}
						}
					}

					&.open{
						.dropdown-menu-arrow{
							display: block;
						}
					}
				}
			}
		}

		&.navbar-sub{
			background:darken($brand-primary, 4%);
			min-height: 40px;
			a{
				padding-bottom: 6px;
				color:#fff;

				&:focus,
				&:active,
				&:hover{
					background: transparent;
				}
			}
			i{
				font-size: 18px;
			}

			.mobile-search-dropdown{
				position:fixed;
				top: 86px;
				left:-1px;
				right: -1px;
				bottom:-1px;
				padding:6px;

				.twitter-typeahead{

					input,
					.tt-hint{
						padding:6px;
						height: 38px;
					}
				}

				.tt-menu{
					padding-top: 0;
					.tt-dataset{
						.tt-dataset-title{
							font-size: 11px;
							margin: 0;
							padding: 5px 10px;
							font-weight: bold;
							text-transform: uppercase;
							background: darken($brand-primary,3%);
							color:#fff;
						}
						.tt-suggestion{
							display: flex;
							padding: 3px;

							>a{
								width: 100%;

								&:hover,
								&:focus{
									text-decoration: none;
								}
							}
							.img-wrapper{
								float: left;
								margin-right: 10px;
								img{
									max-width: 36px;
									max-height: 36px;
								}
							}
							.item-infos{
								.item-title{

								}

								.item-info{
									font-size: 11px;
								}
							}
						}

						&:first-child{
							.tt-dataset-title{
								border-top-left-radius: $border-radius-base;
								border-top-right-radius: $border-radius-base;
							}
						}
					}
				}
			}
		}
	}
}
