//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: 0;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($brand-success, $brand-success, #fff);
  border-left:6px solid desaturate(darken($brand-success,15%),20%);
}

.alert-info {
  @include alert-variant($brand-info, $brand-info, #fff);
  border-left:6px solid desaturate(darken($brand-info,15%),20%);
}

.alert-warning {
  @include alert-variant($brand-warning, $brand-warning, #fff);
  border-left:6px solid desaturate(darken($brand-warning,15%),20%);
}

.alert-danger {
  @include alert-variant($brand-danger, $brand-danger, #fff);
  border-left:6px solid desaturate(darken($brand-danger,15%),20%);
}
