//
// bootstrap-chzn.scss
//
// An alternate stylesheet for chzn (http://harvesthq.github.com/chzn/).
// This one is supposed to integrate better with Bootstrap.
//
// Submit bugfixes to: http://github.com/alxlit/bootstrap-chzn
//

$chzn-background: $input-bg !default;
$chzn-border: 1px solid $input-border !default;
$chzn-border-color: $input-border-focus;
$chzn-border-radius: $input-border-radius !default;
$chzn-multi-border-radius: $chzn-border-radius !default;
$chzn-box-shadow: none !default;
$chzn-drop-border: $input-border !default;
$chzn-drop-box-shadow: none !default;
$chzn-drop-zindex: 1060 !default;
$chzn-focus-border: 1px solid $input-border-focus !default;
$chzn-focus-box-shadow: none !default;
$chzn-focus-transition: border linear .2s, box-shadow linear .2s !default;
$chzn-height: $input-height-small !default;
$chzn-multi-height: $input-height-small + 6px !default;
$chzn-sprite-path: 'chzn-sprite.png' !default;
$chzn-sprite-retina-path: 'chzn-sprite@2x.png' !default;

.chzn-select { width: 100%; }
.chzn-select-deselect { width: 100%; }

.chzn-container {
  display: inline-block;
  font-size: $font-size-base;
  position: relative;
  vertical-align: middle;
  color:$brand-primary;

  .chzn-drop {
    background: $chzn-background;
    border: 1px solid $chzn-drop-border;
    @include border-bottom-radius($chzn-border-radius);
    @include box-shadow($chzn-drop-box-shadow);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: $chzn-drop-zindex;
  }

  &.chzn-with-drop .chzn-drop {
    left: 0;
    right: 0;
  }

  .chzn-results {
    color: $gray;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    li {
      display: none;
      line-height: $line-height-small; // 15px;
      list-style: none;
      margin: 0;
      padding: 5px 6px;

      em {
        background: #feffde;
        font-style: normal;
      }

      &.group-result {
        display: list-item;
        cursor: default;
        color: #999;
        font-weight: bold;
      }

      &.group-option {
        padding-left: 15px;
      }

      &.active-result {
        cursor: pointer;
        display: list-item;
      }

      &.highlighted {
        background-color: $link-color;
        background-image: none;
        color: white;

        em {
          background: transparent;
        }
      }

      &.disabled-result {
        display: list-item;
        color: $gray-light;
      }
    }

    .no-results {
      background: $gray-lighter;
      display: list-item;
    }
  }

  .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1;

    span {
      display: inline-block;
      height: $line-height-small; // 17px;
      text-indent: -5000px;
      width: 9px;
    }
  }

  .chzn-results-scroll-down {
    bottom: 0;

    span {
      background: url($chzn-sprite-path) no-repeat -4px -3px;
    }
  }

  .chzn-results-scroll-up {
    span {
      background: url($chzn-sprite-path) no-repeat -22px -3px;
    }
  }
}

.chzn-container-single {
  .chzn-single {
    background-color: $chzn-background;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    border: $chzn-border;
    @include border-top-radius($chzn-border-radius);
    @include border-bottom-radius($chzn-border-radius);
    @include box-shadow($chzn-box-shadow);
    color: $gray;
    display: block;
    height: $chzn-height;
    overflow: hidden;
    line-height: $chzn-height;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;

    span {
      display: block;
      margin-right: 26px;
      @include text-overflow();
    }

    abbr {
      background: url($chzn-sprite-path) right top no-repeat;
      display: block;
      font-size: 1px;
      height: 10px;
      position: absolute;
      right: 26px;
      top: ($chzn-height - 10px) / 2;
      width: 12px;

      &:hover {
        background-position: right -11px;
      }
    }

    &.chzn-disabled .chzn-single abbr:hover {
      background-position: right 2px;
    }

    div {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;

      b {
        background: url($chzn-sprite-path) no-repeat 0 7px;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }

  .chzn-default {
    color: $gray-light;
  }

  .chzn-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: $zindex-dropdown;

    input[type="text"] {
      background: url($chzn-sprite-path) no-repeat 100% -20px, $chzn-background;
      border: $chzn-border;
      @include border-top-radius($chzn-border-radius);
      @include border-bottom-radius($chzn-border-radius);
      @include box-shadow($chzn-box-shadow);
      margin: 1px 0;
      padding: 4px 20px 4px 4px;
      width: 100%;
    }
  }

  .chzn-drop {
    margin-top: -1px;
    @include border-bottom-radius($chzn-border-radius);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
  }
}

.chzn-container-single-nosearch {
  .chzn-search {
    input[type="text"] {
      position: absolute;
      left: -9000px;
    }
  }
}

.chzn-container-multi {
  .chzn-choices {
    background-color: $chzn-background;
    border: $chzn-border;
    @include border-top-radius($chzn-multi-border-radius);
    @include border-bottom-radius($chzn-multi-border-radius);
    @include box-shadow($chzn-box-shadow);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    li {
      float: left;
      list-style: none;
    }

    .search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;

      input[type="text"] {
        background: transparent !important;
        border: 0 !important;
        @include box-shadow(none);
        color: $gray;
        height: $chzn-multi-height - 8px;
        margin: 0;
        padding: 4px;
        outline: 0;
      }

      .default {
        color: #999;
      }
    }

    .search-choice {
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding;
              background-clip: padding-box;
      background-color: $gray-lighter;
      border: $chzn-border;
      @include border-top-radius($chzn-border-radius);
      @include border-bottom-radius($chzn-border-radius);
      @include gradient-vertical(white, $gray-lighter);
      @include box-shadow($chzn-box-shadow);
      color: $gray-dark;
      cursor: default;
      line-height: 13px;
      margin: 6px 0 3px 5px;
      padding: 3px 20px 3px 5px;
      position: relative;

      .search-choice-close {
        background: url($chzn-sprite-path) right top no-repeat;
        display: block;
        font-size: 1px;
        height: 10px;
        position: absolute;
        right: 4px;
        top: 5px;
        width: 12px;
        cursor: pointer;

        &:hover {
          background-position: right -11px;
        }
      }
    }

    .search-choice-focus {
      background: #d4d4d4;

      .search-choice-close {
        background-position: right -11px;
      }
    }
  }

  .chzn-results {
    margin: 0 0 0 0;
    padding: 0;
  }

  .chzn-drop {
    .result-selected {
      display: none;
    }
  }
}

.chzn-container-active {
  .chzn-single {
    border: $chzn-focus-border;
    @include box-shadow($chzn-focus-box-shadow);
    @include transition($chzn-focus-transition);
  }

  &.chzn-with-drop .chzn-single {
    background-color: $input-bg;
    border: $chzn-focus-border;
    @include border-bottom-radius(0);
    @include box-shadow($chzn-focus-box-shadow);
    @include transition($chzn-focus-transition);

    div {
      background: transparent;
      border-left: none;

      b {
        background-position: -18px 7px;
      }
    }
  }

  .chzn-choices {
    border: $chzn-focus-border;
    @include border-bottom-radius(0);
    @include box-shadow($chzn-focus-box-shadow);
    @include transition($chzn-focus-transition);

    .search-field input[type="text"] {
      color: #111 !important;
    }
  }

  &.chzn-with-drop .chzn-choices {
    @include border-bottom-radius(0);
  }
}

.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;

  .chzn-single {
    cursor: default;
  }

  .chzn-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

.chzn-rtl {
  text-align: right;

  .chzn-single {
    padding: 0 8px 0 0;
    overflow: visible;

    span {
      margin-left: 26px;
      margin-right: 0;
      direction: rtl;
    }

    div {
      left: 7px;
      right: auto;
    }

    abbr {
      left: 26px;
      right: auto;
    }
  }

  .chzn-choices {
    .search-field input[type="text"] {
      direction: rtl;
    }

    li {
      float: right;
    }

    .search-choice {
      margin: 6px 5px 3px 0;
      padding: 3px 5px 3px 19px;

      .search-choice-close {
        background-position: right top;
        left: 4px;
        right: auto;
      }
    }
  }

  &.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }

  .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px;
  }

  &.chzn-container-active.chzn-with-drop .chzn-single div {
    border-right: none;
  }

  .chzn-search input[type="text"] {
    background: url($chzn-sprite-path) no-repeat -28px -20px, $chzn-background;
    direction: rtl;
    padding: 4px 5px 4px 20px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .chzn-rtl .chzn-search input[type="text"],
  .chzn-container-single .chzn-single abbr,
  .chzn-container-single .chzn-single div b,
  .chzn-container-single .chzn-search input[type="text"],
  .chzn-container-multi .chzn-choices .search-choice .search-choice-close,
  .chzn-container .chzn-results-scroll-down span,
  .chzn-container .chzn-results-scroll-up span {
    background-image: url($chzn-sprite-retina-path) !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
