// input[type=text],
// input[type=email],
// input[type=number],
// input[type=password],
// select{
// 	-webkit-transition: all 0.2s; /* Safari */
//     transition: all 0.2s;

// 	&:focus,
// 	&:active,
// 	&:hover{
// 		outline: 0 !important;
// 		box-shadow: none !important;
// 	}

// 	&:focus,
// 	&:active{
// 		border-color:$brand-primary !important;
// 		-webkit-transition: all 0.3s; /* Safari */
//     	transition: all 0.3s;
// 	}
// }

section{
	padding: 40px 0;

	.section-title{
		margin-bottom: 60px;
		text-transform: uppercase;
	}

	&.jobs{
		padding: 0;
	}
}


.notify-alert{
	position:relative;
	.image-wrapper{
		width:55px;
		height:55px;
		float:left;
		img{
			width: 100%;
			height: 55px;
		}
	}

	.content{
		padding:10px;
		float:left;
		width:360px;
	}
}
.alert-notify-default{
	background:#fcfcfc;
	border:1px solid #f0f0f0 !important;
	font-size: 13px;
	min-width: 280px;
}

.addon-social{
	min-width:50px;
}

.page-inner{
	padding: 30px;
	border:1px solid #e3e3e3;
	margin-bottom: 15px;
}

.bg-white{
	background-color: #fff;
}

.top-background-bar{
	height: 200px;
	margin-bottom: -180px;
}
.form-icon{
	font-size: 24px;
	color:#555;
}

.time-range{
	.time-from{
		width: 44%;
		float: left;
	}

	.time-to{
		width: 44%;
		float: left;
	}

	.month-to{
		select{
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}		
	}

	.month-from,
	.month-to{
		width: 60%;
		float: left;

		select{
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-right: 0;

			&:focus{
				box-shadow: inset -1px 0 0 $brand-primary;
			}
		}
	}

	.year-from{
		select{
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.year-from,
	.year-to{
		width: 40%;	
		float: left;
		select{
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	.range-until{
		width: 12%;
		float: left;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 30px;
		background: #eee;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-radius: 0;
		text-align: center;
		user-select:none;
	}

	.until-now-text{
		height: 30px;
		line-height: 30px;
		padding-left: 15px;
		border-left:1px solid #ccc;
	}

	.until-now-label{
		font-weight: normal;
		margin-top: 10px;
		padding: 4px;
	}
}

.counter{
	font-weight: 300;
	.counter-number{
		font-size: 62px;
		padding-bottom: 10px;

		span{
			border-bottom: 4px solid $brand-primary;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.counter-text{
		color:#777;
		font-size: 17px;
	}
}

.callout{
	background: $brand-primary;
	padding: 50px;
	color:#fff;
}

table.new-vacancies{
	.job{
		td{
			padding-top: 20px; 
			padding-bottom: 20px; 
		}
		.job-name{
			text-transform: uppercase;
			font-weight: bold;
		}

		.job-location{
			color: #777;
			i{
				color:$brand-primary;
			}
		}

		.job-salary{
			text-align: right;
		}

		&:last-child{
			td{
				border-bottom:1px solid #ccc;
			}
		}
	}
}

.price{
	border:0;
	box-shadow: 10px 10px 40px rgba(0,0,0,0.2);

	&.price--main{
		margin-top: -40px;
	}

	&.panel{
		.panel-heading{
			color:#fff;
			border: 0;
		}
		.panel-body{
			font-weight: 500;

			.price-value{
				font-size: 38px;

				.mes{
					font-size: 15px ;
					font-weight: 400;
				}
			}
		}

		.price-details{
			color:$brand-primary;
		}
		.panel-footer{
			a{
				text-transform: uppercase;
			}
		}
	}

	&.panel-danger{
		.panel-heading{
			background: $brand-danger;
		}

		.panel-body{
			background: darken($brand-danger,5%);
		}
	}

	&.panel-success{
		.panel-heading{
			background: $brand-success;
		}

		.panel-body{
			background: darken($brand-success,5%);
		}
	}
	&.panel-primary{
		.panel-heading{
			background: $brand-primary;
		}

		.panel-body{
			background: darken($brand-primary,5%);
		}
	}
	&.panel-warning{
		.panel-heading{
			background: $brand-warning;
		}

		.panel-body{
			background: darken($brand-warning,5%);
		}
	}
	&.panel-info{
		.panel-heading{
			background: $brand-info;
		}

		.panel-body{
			background: darken($brand-info,5%);
		}
	}
	&.panel-default{
		.panel-heading{
			background: #ddd;
			color:#666;
		}

		.panel-body{
			background: darken(#ddd,5%);
			color:#666;
		}
	}
}

.plans-list-selector{
	.plan{
		border:0 solid transparent;
		padding: 40px;
		color: #fff;
		font-size: 14px;
		cursor: pointer;

		-webkit-transition: all 0.2s; /* Safari */
    	transition: all 0.2s;

		.plan-check-wrapper{
			padding: 15px 0;
			font-size: 18px;
			cursor: pointer;
			margin: 0;
			vertical-align: middle;

			input{
				width: 20px;
				height:20px;
			}
		}

		.plan-price{
			font-size: 45px;
			font-weight: bold;
			margin: 0;
			span{
				font-size: 17px;
			}
		}

		&.plan1{
			background-color: #eee;
			color:#444;
			&:hover{
				margin-top: -10px;
				border-bottom: 10px solid #ccc;
			}
		}
		&.plan2{
			background-color: $brand-success;

			&:hover{
				margin-top: -10px;
				border-bottom: 10px solid darken($brand-success,12%);
			}
		}
		&.plan3{
			background-color: $brand-info;

			&:hover{
				margin-top: -10px;
				border-bottom: 10px solid darken($brand-info,12%);
			}
		}

		&:hover{
    		-webkit-transition: all 0.2s; /* Safari */
    		transition: all 0.2s;

    		&+.plan{
    			box-shadow: inset 0 4px 5px rgba(0,0,0,0.15);
    		}
    	}
	}
}

.styled-checkbox,
.styled-radio{
	position: relative;
	margin-right: 4px !important;
	&:before{
		background: #fff;
		border:1px solid $brand-primary;
		height: 14px;
		width: 14px;
		position: absolute;
		content: "";

		-webkit-transition: all 0.3s; /* Safari */
    	transition: all 0.3s;
	}

	&:checked{
		&:before{
			-webkit-transition: all 0.3s; /* Safari */
    		transition: all 0.3s;

			background: $brand-success;
			border:1px solid $brand-success;
			box-shadow: inset 0 0 0 2px #fff;
		}		
	}

	&:focus{
	outline: none;		
	}

	&.styled-radio{
		&:before{
			border-radius: 50%;
		}
	}
}

.title{
	font-weight: bold;
	color: lighten($brand-primary,10%);
	position: relative;
	margin-bottom: 20px;
	margin-top: 0;
	font-family: 'Oswald', sans-serif;
}

.datepicker{
	table{
		tr{
			td.day{
				text-align: center;
				&:hover{
					cursor: pointer;
					background: $brand-primary;
					color:#fff;
				}
			}
		}
	}
}



//EDITABLE

.editable-click{
	border:1px dashed rgba(0,0,0,.3);
	cursor: text;
}
.editable-popup{
	.popover-title{
		font-weight: bold;
		font-size: 13px;
	}
	.editable-input{
		margin-bottom: 10px;
	}
}

.frame-primary{
	.editable-click{
		border-color:rgba(255,255,255,.3);
	}
}

#competencias{
	.btn-edit-skills{
		display: block;
		margin-top: 7px;
	}

	.skills-edit-container{
	}

	.skill-tags{
		.recommended-skills{
			margin-bottom: 15px;
			.skill-item{
				padding: 0;
				//background: desaturate(lighten($brand-primary, 20%), 8%);
				margin-bottom: 3px;
				color: darken($brand-info,12%);
				display: block;
				clear: both;
				float: left;
				width: 100%;
				position:relative;

				.line{
					position: absolute;
					top:50%;
					margin-top: -1px;
					height: 1px;
					background: lighten($brand-primary, 68%);
					left:0;
					width: 100%;
					z-index: 1;
				}

				.tag{
					padding:6px;
					margin-bottom: 0;
					position:relative;
					z-index:5;
					box-shadow:4px 0 0 #fff;
				}

				.recommendators{
					position:relative;
					z-index:5;
					button.btn-recommend{
						height: 26px;
						width: 28px;
						border-left: 1px solid #fff;
						border-radius:0;
						float: left;
					}
					button.btn-disrecommend{
						display: none;
						height: 26px;
						width: auto;
						border-radius:0;
						float: left;
						position:absolute;
						top:0;
						right:100%;
						margin-right: -28px;
					}
					img{
						height: 26px;
						display: inline-block;
						margin:0;
						float: left;
						border-left: 1px solid #fff;
					}
				}

				&:hover{
					button.btn-disrecommend{
						display: block;
					}
				}
			}
		}

		.normal-skills{
			.skill-item{
				display: inline-block;
				margin-right: 2px;
				.tag{
					margin-right: 0;
					display: block;
					width: auto;
					padding:6px;
				}
				button{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					padding:3px 6px;
				}
			}
		}
	}
}


.tag{
	background: $brand-primary;
	border-radius: 3px;
	padding: 8px;
	border: 0;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 3px;
	line-height: 14px;
	float: left;
	margin-right: 4px;

	span{
		width: 14px;
		height: 14px;
		background: lighten($brand-primary,20%);
		font-family: FontAwesome;
		float: right;
		color:$brand-primary;
		cursor: pointer;
		text-align: center;
		margin-left: 3px;

		&:hover{
			background: lighten($brand-primary,25%);
		}

		&:before{
			content:"\f00d";
		}
	}

	&.tag-sm{
		padding:3px;
		font-size: 11px;
	}
}

.bootstrap-tagsinput{
	margin-bottom: 7px;
	border:1px solid #ccc;
	padding: 3px 3px 0;
	display: inline-block;
	width: 100%;
	border-radius: $border-radius-base;

	input{
		border:0;
		width: auto;
		height: 31px;
		padding: 3px;
		text-align: left;
		vertical-align: top;
		background: transparent;
		max-width: inherit;
		position: relative;

		&:focus{
			outline: none;
			box-shadow: none;
		}
	}
	.twitter-typeahead{
		width: auto;
	}
}


@media(max-width: $screen-xs-max){
	section{
	}

	.time-range{
		.time-from{
			width: 100%;
			float: left;
		}

		.time-to{
			width: 100%;
			float: left;
		}
	
		.month-to{
			select{
				border-bottom-left-radius: $border-radius-base;
				border-top-left-radius: $border-radius-base;
			}		
		}

		.year-from{
			select{
				border-bottom-right-radius: $border-radius-base;
				border-top-right-radius: $border-radius-base;
			}
		}

		.range-until{
			width: 100%;
			background: transparent;
			border-top: 0;
			border-bottom: 0;
		}

		.until-now-text{
			padding-left: 0;
			border-left:0;
			text-align: center;
		}

		.until-now-label{
			width: 100%;
		}
		
	}
}