.portfolio{
	.author-info{
		float: left;
		padding-left: 60px;
		position:relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px 0 20px;
		.img-wrapper{
			width: 50px;
			height: 50px;
			position: absolute;
			left:0;
		}
		.name{
			font-weight: bold;
		}
		a{
			color: lighten($brand-primary, 14%);
		}
	}
	.thumbs{
		padding: 0;
		list-style: none;

		li{
			margin-bottom: 20px;
			border:1px solid #eee;
			margin-right: 10px;
			position: relative;

			a{
				max-height: 100px;
				overflow: hidden;
				display: block;
				img{

				}
			}

			.btn-remove-portfolioitem{
				border:0;
				position:absolute;
				top: -10px;
				left: -10px;
				background-color: $brand-danger;
				color:#fff;
				border-radius: 50%;
				font-size: 11px;
				width: 20px;
				height: 20px;

				&:hover{
					background-color: darken($brand-danger, 15%);
				}
			}

			label{
				position:absolute;
				padding-bottom:80%;
				top:0;
				left:0;
				height: 100%;
				width: 100%;
				background-color:#eee;
				overflow: hidden;
				text-align: center;
				cursor: pointer;
				border: 2px dashed #ccc;
				input{
					opacity:0;
					position:absolute;
					margin-left:-150px;
				}
				span{
					display: flex;
					flex-direction: column;
					justify-content: center;
					position:absolute;
					left:0;
					top:0;
					width: 100%;
					height: 100%;
					.fa{
						font-size: 50px;
						color:#ddd;
					}
				}
				&:hover{
					background-color:#eaeaea;
				}
			}

			&.selected{
				box-shadow: 0 0 0 5px $brand-secondary;
			}
		}
	}

	.main-img-wrapper{
		img{
			margin: 0 auto;
			border:1px solid #e6e6e6;

			&.loader{
				margin-top: 80px;
			}
		}
	}

	.portfolio-title{
		font-weight: normal;
		text-transform: uppercase;
	}
	.description{
		text-align: justify;
		color:#777;

		a{
			font-weight: bold;
		}
	}
}