.home-search-form{
	input,
	button{
		border-radius: 0;
		border:0;
	}

	a{
		color:#fff;

		&.advanced-search-trigger{
			color:rgba(255,255,255,0.7);
			margin: 6px 0;
			float: left;
			font-size: 12px;
		}
	}
}

#sidebar-job-search-form{
	label{
		font-weight: normal;
		margin: 0;

		&.control-label{
			font-weight: 600;
			font-size: 11px;
			text-transform: uppercase;
			color:#000;
		}
	}

	hr{
		margin: 10px 0;
	}
}