.slider {

  &.slider-horizontal{
    width: 100%;
    .slider-track{
      height: 4px !important;
      margin-top:-2px !important;
      
      .slider-handle,
      .slider-tick{
        margin-top: -8px;
      }

      .slider-selection{ }
    }
  }

  .slider-handle {
    background: $brand-primary;
  }

  .slider-tick{
    background: #eee;

    &.in-selection{
      background: lighten($brand-primary,25%);
    }
  }

  .slider-selection{
    background: $brand-primary;
  }
}