.suggestion-form-container{
	width: 280px;
	min-height: 36px;
	position: fixed;
	bottom:0;
	right: 20px;
	z-index:1000;
	.suggestion-form{
		.suggestion-header{
			line-height: 16px;
			padding: 10px 16px;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}
		.suggestion-body{
			background:#fff;
			border: 1px solid #ddd;
			padding:15px;

			.form-label{
				cursor:pointer;

				&:hover{
					input{
						&:before{
							border-color: $brand-success;
						}
					}
				}
			}
		}
	}
}