.timeline{
	background: lighten($brand-primary, 68%);
	.posts{
		textarea{
			resize: none;
			margin-bottom: 0;
			width: 100% !important;
		}
		.create{
			padding-bottom:0 !important;
			overflow-x: hidden;

			textarea{
				border-width:0;
				margin-bottom: 10px;
				box-shadow: none;
				resize: none;
				width: 100% !important;
			}

			.textarea-wrapper{
				min-height: 34px;
				margin-bottom: 10px;
				position: relative;
			}

			.new-post-tags{
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 15px 0;
				display: inline-block;
				width: 100%;
				.tag{
					background:lighten($brand-primary, 50%) !important;
					color: #333;
					border-radius: 3px;
					padding:3px 5px;
					border:0;
					font-size:14px;
				}
			}

			.post-create-buttons{
				margin-bottom: 10px;
				label{
					overflow: hidden;
					font-size: 20px;
				    line-height: 19px;
				    margin: 6px 0 0 0;
				    cursor: pointer;
				    .fa{
				    	color:#aaa;
				    }
					#post-img{
						opacity:0;
						display: none;
					}
				}

				button{
					font-weight: bold;
					font-size: 12px;
				}
			}

			.img-wrapper{
				position:relative;
				margin: 0 -15px;
                                border-top:1px solid #eee;
                                border-bottom:1px solid #eee;
				.btn-remove-image{
					position:absolute;
					top: 15px;
					left:15px;
					border: 0;
					border-radius: 50%;
					width: 34px;
				}
				img{
					max-height: 400px;
				}
			}
		}
		.post{
			border-top: 3px solid lighten($brand-primary, 22%);
			margin-bottom: 20px;
			background: #fff;
			padding: 10px;
        	.post-header{
        		display: flex;
				flex-direction: column;
				justify-content: center;
        		position:relative;
        		min-height: 40px;
        		margin-bottom: 20px;
        		.img-wrapper{
        			width: 40px;
        			height: 40px;
        			overflow: hidden;
        			position: absolute;
        			left:0;
        			img{

        			}	
        		}
        		.post-info{
        			width: 100%;
        			display: block;
        			padding-left:55px;

        			.name{
        				font-weight: bold;
        				color:$brand-primary;
        			}
        		}
        	}
        	.post-body{
        		.post-content{
        			word-break: break-word;
        			.tag{
        				border:0;
        				padding: 2px 3px;
        				margin: -2px;
        				background:lighten($brand-primary, 60%);
        				border-radius:3px;
        				float: none;
        				font-size: inherit;
        				margin-right: 2px;
        				a{
        					color:#333;
        				}
        			}
        			p{
						color:#333;
        			}
        		}
        		.post-image{
        			margin: 10px -10px 0;
        			img{
						max-width: 100%;
						max-height: 500px;
						min-width: 90px;
						min-height: 90px;
						box-shadow: 0 0 1px #bbb;
        			}
        		}
        	}
        	.post-actions{
        		border-bottom: 1px solid rgba(0,0,0,0.05);
        		ul{
        			li{
        				display: inline-block;
        				padding:2px;
        				button{
        					font-weight: bold;
        					background:transparent;
        					color:lighten($brand-primary, 20%);
        					border:0;
        					padding-left:0;
        					outline: none;

                        &.liked{
                                color:$brand-info !important;
                        }
        				}
        			}
        		}
        	}
                .post-likes{
                        padding:4px 0;
                        border-bottom: 1px solid rgba(0,0,0,0.05);
                }
        	.post-comments{
        		margin-top: 10px;
        		textarea.autosize-textarea {
					box-sizing: border-box;
					max-height: 200px; /* optional, but recommended */
					min-height: 31px;
					font-size: 12px;
					overflow-x: hidden; /* for Firefox (issue #5) */
					border:1px solid #ddd;
					box-shadow:none;
					resize: none;
				}
        		.link-comment{
        			font-weight: bold;
        			color:#888;
        			outline:none;
        		}
        		.comment{
        			margin-bottom: 24px;
        			font-size: 12px;
        			position:relative;
        			min-height: 30px;
        			.img-wrapper{
        				width: 30px;
        				height: 30px;
        				position:absolute;
        				left:0;
        				img{
							
        				}
        			}
        			.comment-body{
        				padding-left:40px;
        				.comment-content{
        					position:relative;
        					.overlay-posting{
        						position:absolute;
        						background: rgba(255,255,255,0.8);
        						text-align: center;
        						height: 100%;
        						width: 100%;
        						display: flex;
								flex-direction: column;
								justify-content: center;
        					}
	        				.username{
								font-weight: bold;
								color: $brand-primary;
	        				}
        				
        					.comment-text{
        						color:#000;
        					}
        				}
        				.comments{
        					position:relative;
        					margin-top: 13px;
        					.comment{
        						min-height: 22px;
        						margin-bottom:6px;
								.img-wrapper{
									width: 22px;
									height: 22px;
								}
								.comment-body{
        							padding-left:30px;
        							.comment-text{
		        						color:#666;
		        					}
		        					textarea{
		        						resize: none;
		        					}
        						}
        					}

        					&:before{
        						position:absolute;
        						height: 100%;
        						width: 3px;
        						background: #eee;
        						content:"";
        						left:-12px;
        						top:0;
        						display: block;
        					}
        				}
        			}

        			&:last-child{
        				margin-bottom:0;
        			}
        		}
        	}
        }
	}
}