.tooltip{
	.tooltip-inner{
		background: $brand-primary;
	}

	&.bottom{
		.tooltip-arrow{
			border-bottom-color: $brand-primary;
		}
	}

	&.top{
		.tooltip-arrow{
			border-top-color: $brand-primary;
		}
	}

	&.left{
		.tooltip-arrow{
			border-right-color: $brand-primary;
		}
	}

	&.right{
		.tooltip-arrow{
			border-left-color: $brand-primary;
		}
	}
}