.ui-slider{
	width: 100%;
	height: 8px;
	background: #ddd;
	margin-top: 10px;
	position: relative;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.12);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	.ui-slider-range{
		background: #brand-primary;
	}

	.ui-slider-handle{
		position: absolute;
		margin-left: -10px;
		top:-6px;
		width: 20px;
		height: 20px;
		border:0;
		display: block;
		background: $brand-primary;
		border-radius: 50%;

		&:focus{
			outline: none;
		}
	}
}