.user-card{
	padding: 10px;
	position: relative;
	border: 1px solid #f3f3f3;
	display: block;
	height:100%;
	background: #fcfcfc;
	.user-image{
		width: 120px;
		height: 120px;
		float: left;
		img{
			max-width: 100%;
		}
	}
	.user-content{
		text-align: left;
		width: 100%;
		padding-left: 135px;

		.user-name{
			margin: 0px;
			font-size: 16px;
			font-weight: 600;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.occupation{
			margin-top: 7px;
			color:#666;
			margin-bottom: 5px;

			i{
				color:$brand-info;
			}
		}

		a{
			color:#333;

			&:hover{
				color:lighten($brand-primary, 20%);
				text-decoration: none;
			}
		}

		.btn-follow{
			min-width: 140px;
		}
		
		ul.user-infos{
			width: 100%;
			margin-top: 7px;
			list-style: none;
			position:relative;
			float: left;
			padding:0;
			margin-bottom: 7px;
			li{
				position: relative; 
			}
			.user-info{
				font-size: 12px !important;
				padding: 2px 0;
				color: #888;
				font-size: 12px;
			}
		}
	}

	&:hover{
		background: #f6f6f6;
	}
	&.small{
		padding-top:10px;
		.user-image{
			width: 50px;
			height: 50px;
			float: left;

			img{
				max-width: 100%;
			}
		}
		.user-name{
			font-size: 12px;
			font-weight: 600;
		}
		.user-content{
			width: 100%;
			padding:0px;
			padding-left: 60px;
			text-align: left;
			.user-info{
				font-size: 12px;
			}
		}
		&:hover{
			background: #eee;
		}
	}
}