.slider-vacancy-salary{
	padding-bottom: 30px;
}
.manually-insert-salary{
	cursor: pointer;
}

@media(max-width: $screen-xs-max){
	.slider-vacancy-salary{
		padding-bottom: inherit;

		.slider{
			margin-bottom: 35px;
		}
	}
}