.vacancy{
	background: #fff;
	position: relative;
	border:1px solid #e3e3e3;
	margin-bottom: 20px;

	hr{
		width: 100%;
		display: inline-block;
	}

	.vacancy-company-img-wrapper{
		padding-top: 15px;
		img{
			margin: 0 auto;
			max-width: 70%;
		}
	}

	.vacancy-options{
		display: none;
		position: absolute;
		right: 10px;
		top:10px;
		z-index: 5;
		.dropdown-toggle{
			padding: 0 5px;
			font-size: 12px;
			color:#aaa;
		}
	}


	.vacancy-head{
		.vacancy-title{
			margin-bottom: 10px;
			letter-spacing: -0.02em;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;

			a{
				color:#000;
				&:hover{
					text-decoration: none;
					color:lighten($brand-primary,15%);
				}
			}
		}

		.vacancy-company{
			color:lighten($brand-primary,30%);
			margin-bottom: 10px;
			font-weight: 600;
		}

		.vacancy-city{
			color:$brand-primary;
			font-size: 12px;
		}

		.vacancy-buttons{
			margin-bottom: 10px;
			margin-top: 20px;
		}

		.vacancy-candidacies{
			.title{
				margin-bottom: 10px;
				margin-top: 20px;
			}
		}
	}

	.vacancy-body{
		.job-salary{
			margin-bottom: 20px;

			.title{
				text-transform: uppercase;
				margin-bottom: 5px;
				font-size: 12px;
			}

			.salary-value{
				font-size: 13px;
				color:$brand-success;
			}
		}
		.job-requirement{
			margin-bottom: 20px;

			.title{
				text-transform: uppercase;
				margin-bottom: 5px;
				font-size: 12px;
			}
		}

		.vacancy-tags{
			margin-bottom: 20px;

			.label{
				padding: 5px 10px;
				margin-bottom: 2px;
				display: inline-block;
			}
		}

		.vacancy-description{

		}
	}

	&:hover{
		.vacancy-options{
			display: block;
		}
	}

	&.vacancy--summary{
		border:0;
		margin-bottom:0;
		padding: 10px;
		border-bottom: #eee 1px solid;

		.vacancy-company-img-wrapper{
			img{
				max-height: 70px;
				max-width: 70px;
			}
		}

		.vacancy-head{
			.vacancy-title{
				margin-top: 5px;
				margin-bottom: 0;
				font-weight: 500;
			}

			p,h5{
				margin-bottom: 6px;
			}

			.vacancy-company{
				margin-top: 6px;
				font-weight: 500;
			}
		}

		.vacancy-tags{
			margin-bottom: 0px;
		}

		&:hover{
			background-color: #f6f6f6;
		}

		&:last-child{
			border-bottom: 0;
		}
	}
}

@media(max-width: $screen-xs-max){
	.vacancy{
		.vacancy-company-img-wrapper{
			img{
			}
		}

		.vacancy-options{
			display: block;
			right: 4px;
			top:4px;
			.dropdown-toggle{
				padding: 0 3px;
				font-size: 10px;
				color:#aaa;
			}
		}


		.vacancy-head{
			.vacancy-title{
				font-size: 15px;
			}

			.vacancy-company{
				font-size: 13px;
			}

			.vacancy-city{
			}

			.vacancy-buttons{
				margin-bottom: 5px;
				margin-top: 10px;
				.btn{
					padding: 4px 8px;
					font-size: 12px;
				}
			}
		}

		.vacancy-body{
			.job-requirement{
				.title{
				}
			}

			.vacancy-tags{

				.label{
				}
			}

			.vacancy-description{

			}
		}

		&:hover{
			.vacancy-options{
			}
		}

		&.vacancy--summary{
			padding: 15px;
			.vacancy-head{
				.vacancy-title{
					font-size: 13px;
					margin-bottom: 0;
				}
			}

			.vacancy-infos{
				margin: 0 -10px;
				.vacancy-company{
					margin: 4px 0;
				}

				.vacancy-city{
					margin: 4px 0;
					font-size: 11px;
				}
				.vacancy-tags{
					margin-bottom: 0px;
					float: left !important;
					.label{
						padding: 2px 4px;
						font-size: 10px;
						font-weight: normal;
						margin-right: -1px;
					}
				}
			}
		}
	}
}
