%navlink{
	text-transform: uppercase;
	//background: transparent;
	color:#fff;
	box-shadow: inset 0 0 $brand-danger;
	font-size: 12px;

	-webkit-transition: all 200ms; /* Safari */
	transition: all 200ms;

	&.link-facebook{
		//color:#3b5998;

		&:hover{
			box-shadow:inset 0 -3px #3b5998;
		}
	}

	&.link-twitter{
		//color:#55acee;
		&:hover{
			box-shadow:inset 0 -3px #55acee;
		}
	}

	&.link-google-plus{
		//color:#dd4b39;
		&:hover{
			box-shadow:inset 0 -3px #dd4b39;
		}
	}

	&.link-linkedin{
		//color:#007bb5;
		&:hover{
			box-shadow:inset 0 -3px #007bb5;
		}
	}

	&.link-pinterest{
		//color:#cb2027;
		&:hover{
			box-shadow:inset 0 -3px #cb2027;
		}
	}

	&.link-behance{
		//color:#1769ff;
		&:hover{
			box-shadow:inset 0 -3px #1769ff;
		}
	}

	&.link-instagram{
		//color:#125688;
		&:hover{
			box-shadow:inset 0 -3px #125688;
		}
	}

	&.link-dribbble{
		//color:#125688;
		&:hover{
			box-shadow:inset 0 -3px #EA4C89;
		}
	}
}