// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600&subset=latin-ext');

// Variables
@import "variables";

// Bootstrap
@import "_variables-bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/bootstrap-select/sass/bootstrap-select";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700);
@import "node_modules/bootstrap-slider/src/sass/bootstrap-slider";
//@import "bower_components/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";

@import "mixins/_forms";

@import "_placeholders";

@import "layout/_default";
@import "layout/_topbar";
@import "layout/_painel";
@import "layout/_chat";
@import "layout/_equal-height-columns";

@import "module/_module";
@import "module/_search-forms";

@import "module/_portfolio";
@import "module/_vacancy";
@import "module/_vacancy_creating";

@import "module/_timeline";

@import "module/_wells";
@import "module/_buttons";
@import "module/_forms";
@import "module/_card";
@import "module/_typeahead";
@import "module/_alerts";
//@import "module/_datepicker3";
@import "module/_sweet-alert";
@import "module/_slider-rules";
@import "module/_tooltip";
@import "module/_user-card";

@import "module/_ui-slider";

@import "module/_suggestion-form";

@import "layout/_media";


