<script>
	export default {
		props: {
			url:'',
			post:{
				liked:false
			},
			processing_like:false
		},
		data() {
			return {
				comments:this.post.comments ? this.post.comments : []
			}
		},
		ready(){
			var th = this;
			th.processPost();

			$(function(){
							
			});
		},
		watch: {
			post: 'processPost'
		},
		methods: {
			processPost(){
				var th = this;
				var post = th.post;
				var i = _.findIndex(post.likes, function(user){
					return user.id == th.$root.me.id;
				});
				th.$set('post.liked',i > -1 ? true:false);
				th.$set('post.count_likes', post.likes.length);
			},
			likePost(){
				var th = this;
				th.$set('processing_like', true);
				th.$set('post.count_likes',th.post.liked ? th.post.count_likes-1 : th.post.count_likes+1);
				th.$set('post.liked',!th.post.liked);
				th.$http.post(th.$root.url+'/post/'+th.post.id+'/like').then( (resp) => {
					var data = resp.data;
					th.$set('post.liked',data.liked);
				}).finally((r) => {
					th.$set('processing_like', false);
				});
			},
			focusCommentPost(evt){
				var child = this.$refs.newComment;
				child.focusCommentTextarea()
			},
			replaceHashtags(string){
				return string.replace(/(^|\W)(#)([a-zA-Zà-úÀ-Ú0-9][a-zA-Zà-úÀ-Ú0-9_\+-]+)/gim, '$1<span class="tag"><a href="'+this.url+'/timeline?h=$3">$2$3</a></span>');
			}
		},
		components:{
			Comment:require('./Comment.vue'),
			NewComment: require('./NewComment.vue')
		}
	}
</script>