<style>
	.form-account-type{}
	.form-account-type label{
		line-height: 40px;
    	font-size: 24px;
	}
	.form-account-type input[type="checkbox"]{
		/*opacity: 0;*/
		position: relative;
		width: 28px;
		height: 28px;
		visibility: hidden;
		margin: 6px 12px 6px 0;
		float: left;
	}
	.form-account-type input[type="checkbox"]:before{
		width: 28px;
		content: "";
		height: 28px;
		display: block;
		position: absolute;
		border:1px solid #ccc;
		background: #eee;
		visibility: visible;
	}
	.form-account-type input[type="checkbox"]:checked:after{
		width: 20px;
		content: "";
		height: 20px;
		display: block;
		position: absolute;
		background: #3c3;
		visibility: visible;
		top: 4px;
		left: 4px;	
	}
</style>
<script>
	export default {
		props: {
			url:''
		},
		data() {
			return {
				ov:false,
				pv:false,
				chooseOne:false
			};
		},
		watch:{
			ov: function(){
				this.$set('chooseOne', false);
			},
			pv: function(){
				this.$set('chooseOne', false);
			}
		},
		ready(){
			var th = this;
			// REGISTER PAGE
			$(function(){
			});
		},
		methods:{
			canProceed(event){
				if(!this.pv && !this.ov){
					event.preventDefault();
					this.$set('chooseOne', true);
				}
			}
		}
	}
</script>