<script>
	export default {
		props: {
			loading:false,
			url:'',
			cepTimeout:null,
			addressTimeout:null,
			cepError:'',
			map: null,
			marker:null,
			hint:''
		},
		data() {
			return {
				askedForComplement:false,
				cep:'',
				showAddressInput:false,
				cepInputEnabled:true,
				addr:{
					logradouro:'',
					numero:'',
					bairro:'',
					complemento:'',
					cidade:'',
					estado:'',
					pais:'',
					cordenadas: {
						lat:'',
						lon:''
					}
				}
			};
		},
		watch:{
			'cep': function(newVal, oldVal){
				var th = this;
				if(newVal.length == 9){

					if(th.cepTimeout) {
	                    clearTimeout(th.cepTimeout);
	                    th.$set('cepTimeout',null);
	                }

	                th.$set('cepTimeout',setTimeout(function(){
	                	th.$set('loading',true);
	                	th.getAddress(newVal.replace('/[^0-9]+/',''));
	                }, 1000));
				}
			}
		},
		ready(){
			var th = this;
			// REGISTER PAGE
			$(function(){
				$('.info-cep').mask('00000-000');

				$(document).on('keyup','#numberInput, #streetInput', function(e){
					if(th.addressTimeout) {
	    			 	clearTimeout(th.addressTimeout);
	    					th.$set('addressTimeout',null);
	    			}

	                th.$set('addressTimeout',setTimeout(function(){
	                	th.$set('loading',true);
	                	var number = $('#numberInput').val();
	                	var street = $('#streetInput').val();
	                	th.getAddress(street+' '+number+', '+th.formated_address);
	                }, 1800));
				});

				$(document).on('keyup','#addressInput', function(){
					if(th.addressTimeout) {
	    			 	clearTimeout(th.addressTimeout);
	    					th.$set('addressTimeout',null);
	    			}

	                th.$set('addressTimeout',setTimeout(function(){
	                	th.$set('loading',true);
	                	th.getAddress(th.formated_address);
	                }, 1800));
				});
			});
			this.initMap();
		},
		methods:{
			setMapMarker(lat, lon, formated_address){
				var th = this;
				var point = new google.maps.LatLng(lat,lon);

				th.marker.setMap(null);
				th.$set('marker', new google.maps.Marker({
				    position: point,
				    title:formated_address
				}));
				th.marker.setMap(th.map);
				th.map.setCenter(point);
			},
			initMap() {
				var th = this;
			    var center = {lat: -22.906847, lng: -43.172896};
			    // Create a map object and specify the DOM element for display.
			    th.$set('map',new google.maps.Map(document.getElementById('map'), {
			      center: center,
			      scrollwheel: false,
			      zoom: 12
			    }));
			    th.$set('marker', new google.maps.Marker({
			      map: th.map,
			      position: center,
			      title: 'Teste'
			    }));
			},
			getAddress(term){
				var th = this;
				th.$http.get(th.url+'/api/getAddress?cep='+term)
				.then(
					(resp) => {
						console.log(resp);
						console.log('----------------');
						var addr = resp.data;
						if(typeof(addr) === 'string') addr = JSON.parse(addr);
						console.log(addr);
						th.$set('showAddressInput', true);
						th.$set('loading', false);
						th.$set('addr.pais',addr.pais!=''?addr.pais:'');
						th.$set('addr.estado',addr.estado != '' ? addr.estado : '');
						th.$set('addr.cidade',addr.cidade != '' ? addr.cidade : '');
						th.$set('addr.bairro',addr.bairro != '' ? addr.bairro : '');
						th.$set('addr.logradouro',addr.rua != '' ? addr.rua : '');
						th.$set('addr.numero',addr.numero != '' ? addr.numero : '');
						th.$set('addr.cep',addr.cep != '' ? addr.cep : '');
						th.$set('addr.coordenadas.lat',addr.coordenadas.lat != '' ? addr.coordenadas.lat : '');
						th.$set('addr.coordenadas.lon',addr.coordenadas.lon != '' ? addr.coordenadas.lon : '');

						var fa= (addr.rua?addr.rua+', ':'')+
	                            (addr.numero?addr.numero+', ':'')+
	                            (addr.bairro?addr.bairro+', ':'')+
	                            (addr.cidade?addr.cidade+', ':'')+
	                            (addr.estado?addr.estado+', ':'')+
	                            (addr.pais?addr.pais:'');
	                    th.$set('formated_address',fa);

						th.setMapMarker(addr.coordenadas.lat, addr.coordenadas.lon);

						if(addr.location_type == 'APPROXIMATE'){
							th.$set('hint',' Parece que as informações obtidas não são muito precisas. Você pode usar o campo abaixo para complementar o endereço com o nome da rua e número da casa para obter melhores resultados.');
						}else{
							th.$set('hint','');
						}
					},
					(err) => {
						th.$set('loading', false);
						console.log(err);
						th.mapsError(err);
						th.enableCepForm();
					}
				);

			},
			mapsError(){
				$('.info-address-text').html('<span class="text-danger"><i class="fa fa-warning"></i> Não encontramos o local. Digite no campo acima o nome da rua, cidade e estado.</span>');

				$('.info-input-container').removeClass('hidden');
				$('.info-address').removeClass('hidden');
			},
			disableCepForm(){
				this.$set('cepInputEnabled', false);
			},
			enableCepForm(){
				this.$set('cepInputEnabled', true);
			}
		}
	}
</script>